<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CylinderChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26DB6EB71BD5E18600EF2222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26DB6ECD1BD5E18600EF2222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26DB6ED81BD5E18600EF2222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
